* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
}

w-100 {
  width: 100px;
}

h-100 {
  height: 100px;
}

ts-7 {
  font-size: 10rem;
}

text-white {
  color: white;
}

dashboard-img {
  width: 100%;
  height: 20rem;
  object-fit: cover;
  object-position: 0% 0%;
}
